<article class="post">
  <div class="title">
  </div>
  <div class="meta">
        <p class="post-title">
         {{post_title}}
        </p>
        <p class="post-body">
         {{post_body}}
        </p>
        <hr>
        <div class="post-user-info">
          {{user.username}}
          </br>
          posted on
          {{format_date created_at}} ||
          <a href="/post/{{id}}">{{comments.length}}
          {{format_plural "comment" comments.length}}</a>
        </div>
  </div>
</article>