<article class="post">
  <div class="title">
  </div>
  <div class="meta">
        <p>
         {{post_title}}
        </p>
        <q>
         {{post_body}}
        </q>
        </br>
        {{user.username}}
        </br>
        posted on
        {{format_date created_at}} ||
        <a href="/post/{{id}}">{{comments.length}}
        {{format_plural "comment" comments.length}}</a>
  </div>
</article>